body{
    background-color: #0F1925;
}

header{
    background-color: #49475A;
}

h1 {
    font-size: 3em;
    color: #fff;

    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.5em;
    color: #fff;


    font-family: 'Poppins', sans-serif;
}

a {
    font-size: 1.5em;
    color: #1BA352;

text-decoration: none;

    font-family: 'Poppins', sans-serif;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 10vh;
    margin-left:10vh;
    }
    
    h1 { grid-area: 1 / 1 / 2 / 2; }
    p { grid-area: 2 / 1 / 3 / 2; }
    a { grid-area: 3 / 1 / 4 / 2; }
    img { grid-area: 1 / 2 / 4 / 3; }
    