:root{

    --witteText: #EFEFEF;
    --backgroundColor:#0F1925;
    --grijzeAchtergrond: #49475A;
    --mainGroen: #0CB754;
    --blijvendWit: #EFEFEF;
    --loginZwart: rgba(0, 0, 0, 0.737);
    --loginGrijs: rgba(255, 255, 255, 0.1);
    --loginSchaduw: rgba(0, 0, 0, 0.3);
    
}

/* #1BA352  Dit is de originele groene kleur*/