

body{
    background-color: var(--backgroundColor);
}

/* main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2.5em;
    background-image: linear-gradient(to right, #98FE00, #337EFF); /* Gradiënt van links naar rechts */
    -webkit-background-clip: text;  /* Zorgt ervoor dat de gradiënt alleen de tekst bedekt */
    background-clip: text;
    color: transparent; /* Zet de tekstkleur op transparant zodat de gradiënt zichtbaar is */
    font-family: "Poppins", sans-serif;
}

/* zoek balk */
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    background-color: white;
    height: 3em;
    width: 70%;
    border-radius: 100px;
    max-width: 25em;
    min-width: 14em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

form input{
    border: none;
    outline: none;
    background-color: white;
    width: 70%;
}

form button{
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

/* resultaten section */
section:first-of-type{
    display: flex;
    justify-content: center;
    height: 26.5em;
    width: 25em;
    border-radius: 30px;

    p {
    width: 12rem;
    color:var(--witteText);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

    a {
    display: inline-flex;
    padding: 0.75rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #1BA352;
    height:2em;
    }
}

section:first-of-type button{
    height: 3em;
}

section:first-of-type button:nth-of-type(1){
    width: 3.875em;
}

section:first-of-type button:nth-of-type(2),
section:first-of-type button:nth-of-type(3){
    width: 8.75em;
}

/* Styling voor de button naar questionaire */

section:nth-of-type(2) p:nth-of-type(1){
    font-size: 1em;
    margin: 1em 0em 0em 1em;
    font-family: "Poppins", sans-serif;
    color:var(--witteText);
}

@keyframes slideIn {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 200px;
        opacity: 1;
    }
}


.search-bar {
    padding: 8px;
    animation: slideIn 0.8s ease-out forwards;
}


@media (max-width: 375px){
    section:first-of-type {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    section:first-of-type {
        height: 14em;
    }

    section:first-of-type a{
        max-width: 7em;
    
    }

    .search-bar{
        padding: 0;
    }
}
