body{
    background-color: #0F1925;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5em;
}

header nav ul,a{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 0em;
    color: white;
    font-family: poppins;
}

nav ul:first-of-type li:nth-child(2){
    margin: 0em 2em;
}

nav ul:nth-of-type(2) li:nth-child(2){
    margin-left: 1em;
}



/* main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2.5em;
    background-image: linear-gradient(to right, #98FE00, #337EFF); /* Gradiënt van links naar rechts */
    -webkit-background-clip: text;  /* Zorgt ervoor dat de gradiënt alleen de tekst bedekt */
    background-clip: text;
    color: transparent; /* Zet de tekstkleur op transparant zodat de gradiënt zichtbaar is */
    font-family: poppins;
}

/* zoek balk */
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    background-color: white;
    height: 3em;
    width: 25em;
    border-radius: 100px;
}

form input{
    border: none;
    outline: none;
    background-color: white;
    width: 70%;
}

form button{
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

