
/* inlog scherm */
body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    font-family: 'Poppins', sans-serif;
}

.backgroundImage {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

h1{
    color: var(--blijvendWit);
    font-size: 1.75em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm {
    width: 90%;
    max-width: 27em;
    padding: 2em;
    background-color: var(--loginZwart);
    box-shadow: 0 4px 10px var(--loginSchaduw);
    backdrop-filter: blur(0.25em);
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loginForm h2 {
    font-size: 1em;
    color: var(--blijvendWit);
    font-weight: 400;
    margin-bottom: 0.5em;
}

.loginForm h2 a {
    color: var(--mainGroen);
    text-decoration: none;
}

label {
    color: var(--blijvendWit);
    font-size: 0.9em;
    align-self: flex-start;
    margin-bottom: 0.3em;
}

input[type="email"], 
input[type="password"], 
input[type="text"] {
    width: 100%;
    padding: 0.6em;
    margin-bottom: 0.8em;
    border: 0.1em solid var(--loginGrijs);
    border-radius: 0.8em;
    background: var(--loginGrijs);
    color: var(--blijvendWit);
    font-size: 1em;
    outline: none;
    transition: all 0.3s ease;
}

input[type="email"]:focus, 
input[type="password"]:focus, 
input[type="text"]:focus {
    border-color: var(--mainGroen);
    background: var(--loginGrijs);
}

.loginButton {
    background-color: var(--mainGroen);
    border: none;
    border-radius: 1.5em;
    padding: 0.8em;
    color: var(--blijvendWit);
    width: 100%;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.loginButton:hover {
    background-color: var(--mainGroen);
}

a {
    position: relative;
    text-decoration: none;
    color: var(--mainGroen);
    font-size: 1em;
    font-weight: 500;
    transition: color 0.3s ease;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--mainGroen);
    transition: width 0.3s ease-in-out;
}

a:hover {
    color: var(--mainGroen); /* Optioneel: kleurverandering bij hover */
}

a:hover::after {
    width: 100%;
}


@keyframes slideDownFadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.loginForm {
    animation: slideDownFadeIn 0.5s ease-out;
}





/* eind inlog scher */