
/* inlog scherm */
body{
    margin: 0;
    padding: 0;
}

body img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm{
    width: 35vw;
    max-width: 25em;
    height: 65vh;
    padding: 1.2em;
    background-color: rgba(0, 0, 0, 0.737);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(0.2em);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins;
    font-weight: 300;
}

input[type="text"], input[type="password"]{
    width: 90%;
    padding: 0.6em;
    margin: 0.4em 0;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background: transparent;
    color: white;
}

label{
    color: #fff;
    font-size: 1em;
}

.loginForm h2{
    font-size: 0.7em;
    color: #fff;
    font-weight: 300;
}

.loginForm  h2 a{
    color: #1BA352;
}

.loginButton{
    background-color: #1BA352;
    border: none;
    border-radius: 1em;
    padding: 0.2em 1em;
    color: #fff;
}


/* eind inlog scher */