body {
    background-color: #0F1925;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

img {
    width: 10em;
    height: 10em;
    margin-bottom: 1em;
}

h1 {
    font-size: 2.5em;
    color:white;
}

.profile-info {
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 25em;
    text-align: left;
    margin-bottom: 2em;
}

.profile-info p {
    margin: 0.5em 0;
}

.profile-actions {
    display: flex;
    justify-content: space-between;
    width: 25em;
}

.profile-actions .btn {
    background-color: #337EFF;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.profile-actions .btn:hover {
    background-color: #98FE00;
}