body {
    background-color: var(--backgroundColor);
    font-family: 'Poppins', sans-serif;
    color:var(--witteText);
    margin: 0;
    padding: 0 1em;
    
}

.profileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileContainer h1 {
    font-size: 2.5em;
    color:var(--witteText);
    margin: 0;
}
.profileContainer img {
    width: 10em;
    height: 10em;
    margin-bottom: 1em;
}

.profileInfo {
    color:var(--witteText);
    /* padding: 2em; */
    text-align: left;
    display: grid;
    grid-column-start: 1;
    flex-direction: column;
}


.profileInfo p {
    margin: 0.5em 0;
}

.opgeslagen ul{
    list-style: none;
    padding: 0;
}

.opgeslagen button{
    color: var(--witteText);
    background-color: var(--mainGroen);
    border: none;
    padding: 0.2em;
    border-radius: 0.5em;
}

.profileActions {
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.profileActions .btn {
    background-color: var(--mainBlauw);
    color:var(--witteText);
    padding: 0.5em 1em;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease;
}

.profileActions .btn:hover {
    background-color: #98FE00;
} 
/* Deze groen moet nog een variabele kleur worden */

