main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColor);
    font-family: poppins;
}

body{
    background-color: var(--backgroundColor);
}

h1{
    color:var(--witteText);
}

h2{
    color:var(--witteText);
}

p{
    color:var(--witteText);
    margin: 0;
}

.list {
    list-style-type: none;
    width: 80vw;
    padding: 0;
}

.list li{
    height: 10em;
    width: 100%;
    display: grid;
    grid-template-columns: 8em 40em auto;
    align-items: center;
    justify-content: left;
    margin: 2em;
    background-color: var(--grijzeAchtergrond);
}

.list li div:nth-of-type(1){
    padding-left: 1em;
    border-left: solid 0.10em var(--witteText);
}

