body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    font-family: 'Poppins', sans-serif;
}

img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 27em;
    padding: 2em;
    background-color: var(--loginZwart);
    box-shadow: 0 4px 10px var(--loginSchaduw);
    backdrop-filter: blur(0.25em);
    border-radius: 1.5em;
}

h1 {
    color: var(--blijvendWit);
    font-size: 1.75em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    color: var(--blijvendWit);
    font-size: 1em;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button{
    background-color: var(--mainGroen);
    border: none;
    border-radius: 1.5em;
    padding: 0.6em;
    color: var(--blijvendWit);
    width: 100%;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
    font-family: poppins;
}

input[type="email"]{
    padding: 0.6em;
    margin-bottom: 0.8em;
    border: 0.1em solid var(--loginGrijs);
    border-radius: 0.8em;
    background: var(--loginGrijs);
    color: var(--blijvendWit);
    font-size: 1em;
    outline: none;
    transition: all 0.3s ease;
}

p{
    color: var(--witteText);
    font-family: poppins;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

 a {
    text-decoration: none;
    color: var(--mainGroen);
    font-family: poppins;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--mainGroen);
    transition: width 0.3s ease-in-out;
}

a:hover::after {
    width: 100%;
}