<link rel="stylesheet" href="/styles/header.css">
<header>
    <nav>
      <img class="lazy-load" data-src="/images/Clash-connect-logo.png" alt="Clash connect" />

      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/zoeken">Zoeken</a></li>
        <li><a href="/overons">Over ons</a></li>
      </ul>

      <ul>
        <li><img src="/images/250px-troop-giant_png.png" alt="" /></li>
        <li><a href="/profile"><%= username %></a></li>
      </ul>
    </nav>
  </header>