<link rel="stylesheet" href="/styles/algemeen.css">
<link rel="stylesheet" href="/styles/header.css">
<header>
    <nav>
      <img class="lazy-load" data-src="/images/Clash-connect-logo.png" alt="Clash connect" />

      <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Zoeken</a></li>
        <li><a href="#">Over ons</a></li>
        <li><a href="/profile"><img src="/images/250px-troop-giant_png.png" alt="" /></a></li>
        <li><a href="/profile"><%= username %></a></li>
      </ul>
      
    </nav>
    <script src="/javascript/header.js"></script>
  </header>
